{{!< default}}

<div class="cover-container {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <div class="cover">
        <div class="header">
            <header>
                {{#if @blog.logo}}<img class="author-thumb" src="{{@blog.logo}}" alt="Author image" nopin="nopin" />{{/if}}
                <h1 class="blog-title">{{@blog.title}}</h1>
            </header>
            <nav class="social">
                <ul>
                    <li><a class="fa fa-twitter" href="https://twitter.com/sa1en" target="_blank"></a></li>
                    <li><a class="fa fa-facebook" href="https://www.facebook.com/vitaliy.ribachenko" target="_blank"></a></li>
                    <li><a class="fa fa-vk" href="http://vk.com/sa1en" target="_blank"></a></li>
                    <li><a class="fa fa-github" href="https://github.com/vitaliyr" target="_blank"></a></li>
                    <li><a class="fa fa-linkedin" href="https://www.linkedin.com/profile/view?id=174430365" target="_blank"></a></li>
                    <li><a class="fa fa-envelope-o" href="mailto:vit@ribachenko.com"></a></li>
                </ul>
            </nav>
        </div>
        <div class="container">
            <div class="container-wrapper">
                <div class="blog-description">
                    <div class="blog-description-wrapper">
                        {{@blog.description}}
                    </div>
                </div>
                <div class="blog-stories">
                    <div class="blog-stories-wrapper">
                      <div class="blog-stories-header">
                        <h2>Stories</h2>
                        {{pagination}}
                      </div>
                      <main id="content" class="content" role="main">
                          {{#foreach posts}}
                              <article class="{{post_class}}">
                                  <h3 class="post-title"><span class="date">{{date format="DD MMM YY"}}</span> - <a href="{{url}}">{{{title}}}</a></h3>
                              </article>
                          {{/foreach}}
                      </main>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
