{{!< default}}

{{#post}}

    <div class="post-page">
        <header class="main-header post-head {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
            <nav class="main-nav {{#if image}}overlay{{/if}} clearfix">
                {{#if @blog.logo}}
                <div class="blog-logo">
                    <a href="/"><img class="author-thumb" src="{{@blog.logo}}" alt="Author image" nopin="nopin" /></a>
                </div>
                {{/if}}
                <a href="/">
                    <h1 class="blog-title">{{@blog.title}}</h1>
                </a>
            </nav>
        </header>

        <main class="content" role="main">
            <article class="{{post_class}}">

                <header class="post-header">
                    <h1 class="post-title">{{title}}</h1>
                    <section class="post-meta">
                        <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time> {{tags prefix=" on "}}
                    </section>
                </header>

                <section class="post-content">
                    {{content}}
                </section>

                <footer class="post-footer">

                    <section class="share">
                        <a class="fa fa-twitter" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
                           onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                            <span class="hidden">Twitter</span>
                        </a>
                        <a class="fa fa-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                           onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                            <span class="hidden">Facebook</span>
                        </a>
                        <a class="fa fa-vk" href="http://vk.com/share.php?url={{url absolute="true"}}"
                           onclick="window.open(this.href, 'vk-share', 'width=490,height=530');return false;">
                            <span class="hidden">VK</span>
                        </a>
                    </section>

                </footer>

            </article>
        </main>

        <aside class="read-next">
            {{#next_post}}
                <a class="read-next-story {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
                    <section class="post">
                        <h2>{{title}}</h2>
                        <p>{{excerpt words="19"}}&hellip;</p>
                    </section>
                </a>
            {{/next_post}}
            {{#prev_post}}
                <a class="read-next-story prev {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
                    <section class="post">
                        <h2>{{title}}</h2>
                        <p>{{excerpt words="19"}}&hellip;</p>
                    </section>
                </a>
            {{/prev_post}}
        </aside>
    </div>

{{/post}}
